Cliente Web/Tesis_ClienteWeb/Service References/WS_MobileBridge/Security.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Assessments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CourseId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SubjectId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssessmentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssessmentsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CourseInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PeriodId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CourseInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CourseInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Home">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HomeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HomeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Notifications">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="NotificationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NotificationsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Statistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SchoolId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SchoolYearId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CourseId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StatisticsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatisticsImageGenerator">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CourseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SchoolYearId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="SchoolId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="imageBase64" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StatisticsImageGeneratorResponse">
        <s:complexType />
      </s:element>
      <s:element name="StudentsInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentsInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AssessmentsSoapIn">
    <wsdl:part name="parameters" element="tns:Assessments" />
  </wsdl:message>
  <wsdl:message name="AssessmentsSoapOut">
    <wsdl:part name="parameters" element="tns:AssessmentsResponse" />
  </wsdl:message>
  <wsdl:message name="CourseInfoSoapIn">
    <wsdl:part name="parameters" element="tns:CourseInfo" />
  </wsdl:message>
  <wsdl:message name="CourseInfoSoapOut">
    <wsdl:part name="parameters" element="tns:CourseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="HomeSoapIn">
    <wsdl:part name="parameters" element="tns:Home" />
  </wsdl:message>
  <wsdl:message name="HomeSoapOut">
    <wsdl:part name="parameters" element="tns:HomeResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="NotificationsSoapIn">
    <wsdl:part name="parameters" element="tns:Notifications" />
  </wsdl:message>
  <wsdl:message name="NotificationsSoapOut">
    <wsdl:part name="parameters" element="tns:NotificationsResponse" />
  </wsdl:message>
  <wsdl:message name="StatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:Statistics" />
  </wsdl:message>
  <wsdl:message name="StatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:StatisticsResponse" />
  </wsdl:message>
  <wsdl:message name="StatisticsImageGeneratorSoapIn">
    <wsdl:part name="parameters" element="tns:StatisticsImageGenerator" />
  </wsdl:message>
  <wsdl:message name="StatisticsImageGeneratorSoapOut">
    <wsdl:part name="parameters" element="tns:StatisticsImageGeneratorResponse" />
  </wsdl:message>
  <wsdl:message name="StudentsInfoSoapIn">
    <wsdl:part name="parameters" element="tns:StudentsInfo" />
  </wsdl:message>
  <wsdl:message name="StudentsInfoSoapOut">
    <wsdl:part name="parameters" element="tns:StudentsInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="Assessments">
      <wsdl:input message="tns:AssessmentsSoapIn" />
      <wsdl:output message="tns:AssessmentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CourseInfo">
      <wsdl:input message="tns:CourseInfoSoapIn" />
      <wsdl:output message="tns:CourseInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Home">
      <wsdl:input message="tns:HomeSoapIn" />
      <wsdl:output message="tns:HomeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Notifications">
      <wsdl:input message="tns:NotificationsSoapIn" />
      <wsdl:output message="tns:NotificationsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Statistics">
      <wsdl:input message="tns:StatisticsSoapIn" />
      <wsdl:output message="tns:StatisticsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StatisticsImageGenerator">
      <wsdl:input message="tns:StatisticsImageGeneratorSoapIn" />
      <wsdl:output message="tns:StatisticsImageGeneratorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentsInfo">
      <wsdl:input message="tns:StudentsInfoSoapIn" />
      <wsdl:output message="tns:StudentsInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Assessments">
      <soap:operation soapAction="http://tempuri.org/Assessments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CourseInfo">
      <soap:operation soapAction="http://tempuri.org/CourseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Home">
      <soap:operation soapAction="http://tempuri.org/Home" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notifications">
      <soap:operation soapAction="http://tempuri.org/Notifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Statistics">
      <soap:operation soapAction="http://tempuri.org/Statistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatisticsImageGenerator">
      <soap:operation soapAction="http://tempuri.org/StatisticsImageGenerator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsInfo">
      <soap:operation soapAction="http://tempuri.org/StudentsInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Assessments">
      <soap12:operation soapAction="http://tempuri.org/Assessments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CourseInfo">
      <soap12:operation soapAction="http://tempuri.org/CourseInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Home">
      <soap12:operation soapAction="http://tempuri.org/Home" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Notifications">
      <soap12:operation soapAction="http://tempuri.org/Notifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Statistics">
      <soap12:operation soapAction="http://tempuri.org/Statistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StatisticsImageGenerator">
      <soap12:operation soapAction="http://tempuri.org/StatisticsImageGenerator" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsInfo">
      <soap12:operation soapAction="http://tempuri.org/StudentsInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:22392/Security.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:22392/Security.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>